<div class="modal-content">
  <form role="form" ng-submit="addRow()" name="TopicForm">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Add Topic</h4>
  </div>
  <div class="modal-body">

      <div class="form-group">
        <label for="email">Topic Name:<span style="color:red;">*</span></label>
        <input type="text" class="form-control" ng-model="name" required>
      </div>

  </div>
  <div class="modal-footer">
    <input type="submit" value="Add" class="btn btn-info" ng-disabled="TopicForm.$invalid">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
</form>
</div>
