<div class="row">
  <div class="col-lg-12">
<div ng-show="BundleInfoError"  class="alert alert-danger">{{BundleInfoError}}</div>
<div class="table-responsive">
    <table ng-hide="BundleInfoError" class="table table-striped table-bordered bundle-info" cellspacing="0">
      <thead>
        <tr><td colspan="8" ng-class="bundleStateError?'alert-danger':''" style="text-align:right;">
          <label class="label label-danger" ng-show="bundleStateError.message">
          {{bundleStateError.message}}
        </label>&nbsp;&nbsp;
          <button class="btn btn-danger btn-sm"  ng-disabled="data.state=='ACTIVE'" title="Play"  ng-click="bundleState('START')">
            <i class="fa fa-play"></i>
          </button>
          <button class="btn btn-info btn-sm" ng-disabled="data.state=='RESOLVED'" title="Pause" ng-click="bundleState('STOP')">
            <i class="fa fa-pause"></i>

          </button>
        </td></tr>
        <tr>
          <th>Bundle Id</th>
          <th>State</th>
          <th>Registered Services</th>
          <th>Imported Packages</th>
          <th>Exported Packages</th>
          <th>Required Bundles</th>
          <th>Services in Use</th>
          <th>Last Modified</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{data.bundleId}}</td>
          <td>{{data.state}}</td>
          <td><div style="max-height:200px; overflow:auto;word-break:break-all;">{{data.registeredServices.join('\n ')}}</div></td>
          <td><div style="max-height:200px; overflow:auto;word-break:break-all;">{{data.importedPackages.join('\n ')}}</div></td>
          <td><div style="max-height:200px; overflow:auto;word-break:break-all;">{{data.exportedPackages.join('\n ')}}</div></td>
          <td><div style="max-height:200px; overflow:auto;word-break:break-all;">{{data.requiredBundles.join('\n ')}}</div></td>
          <td><div style="max-height:200px; overflow:auto;word-break:break-all;">{{data.servicesInUse.join('\n ')}}</div></td>
          <td>{{data.lastModified}}</td>
        </tr>

      </tbody>
    </table>
</div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <br/>
    <div class="table-responsive">
    <table ng-hide="BundleInfoError" class="table table-striped table-bordered" cellspacing="0">
      <thead>
        <tr>
          <th style="width:200px;">Header Name</th>
          <th>Header Values </th>
        </tr>
      </thead>
      <tbody>

        <tr ng-repeat=" header in data.bundleHeader">
          <td>{{header.Key}}</td>
          <td><div style="max-height:200px; overflow:auto;word-break:break-all;">{{header.Value}}</div></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
