<div class="container-fluid">
  <div class="main-dashboard">
    <div class="row">
      <div class="col-lg-12 lnheight35">
        <div class="pull-left">
          <div class="breadcrumb">
            <a ng-href="#/app/envdetail/{{activeTab}}/{{evnid}}">{{evnid}}</a>
            <a ng-href="#/app/{{activeTab}}/{{evnid}}/serverdashboard/{{severDetails.name}}">{{severDetails.name}} Dashboard</a>
            <a href="javascript:void(0)">Data Source Detail</a>
          </div>
        </div>
        <div class="pull-right">
        <a ng-href="#/app/{{activeTab}}/{{evnid}}/serverdashboard/{{severDetails.name}}" class="btn btn-danger" tooltip-placement="bottom" tooltip="Back" style="padding:0px 12px;"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>
      </div>
      </div>
    </div>
    <div ng-include="'partials/header-details.html'"></div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">Data Source</div>
          <div class="panel-body" style="padding:15px 0;">
            <div class="col-lg-4 col-md-4 ds-detail">
              <div ng-show="dsListError" class="alert alert-danger">{{dsListError}}</div>
              <accordion close-others="true">
                <accordion-group is-open="isopen[$index]" ng-repeat="dataSouce in dsName" ng-click="obj.selected=null">
                  <accordion-heading>

                    {{dataSouce.type}}
                    <i class="pull-right fa" ng-class="{'fa-minus-square-o': isopen[$index], 'fa-plus-square-o': !isopen[$index]}"></i>
                  </accordion-heading>

                  <div>
                    <ul class="list-group">
                      <li ng-repeat="name in dataSouce.names" ng-click="getDetails(name, $index)" ng-class="{triangle: obj.selectedname==name}" style="list-style:none; position:relative">
                        <a class="list-group-item" title="Scheduler Details" style=" border:1px solid #ddd; padding:4px 8px; border-radius:0; margin:4px 0;word-break: break-all;" href="javascript:void(0)">{{name}}</a>
                      </li>
                    </ul>
                  </div>
                </accordion-group>
              </accordion>

            </div>
            <div class="col-lg-8 col-md-8">
              <div class="open-detail" ng-hide="connectionAttr || dbInfoError">Select a Data Source in the tree to continue.</div>
              <div ng-show="$parent.tableshow==name">
                <div ng-show="dbInfoError" class="alert alert-danger">{{dbInfoError}}</div>
                <table class="table table-striped table-bordered" cellspacing="0" ng-hide="dbInfoError || !connectionAttr">
                  <tbody>
                    <tr>
                      <td colspan="2" style="text-align:right;">

                        <button ng-click="dsDependent(name)" class="btn btn-warning btn-sm" tooltip-placement="bottom" tooltip="Check Connection"><i class="fa fa-link"></i></button>
                      </td>
                    </tr>
                    <tr ng-repeat="(key,value) in connectionAttr | orderBy:'order'">
                     <td style="width:50%;">{{key}}</td>
                      <td><div style="max-height:170px; overflow:auto;word-break:break-all;">{{value}}</div></td>
                    </tr>
                    <!-- <tr>
                      <td>Num Active</td>
                      <td>{{connectionAttr.NumActive}}</td>
                    </tr>
                    <tr>
                      <td>Num Idle</td>
                      <td>{{connectionAttr.NumIdle}}</td>
                    </tr>
                    <tr>
                      <td>Max Idle</td>
                      <td>{{connectionAttr.MaxIdle}}</td>
                    </tr>
                    <tr>
                      <td>Min Idle</td>
                      <td>{{connectionAttr.MinIdle}}</td>
                    </tr>
                    <tr>
                      <td>Username</td>
                      <td>{{connectionAttr.UserName}}</td>
                    </tr>
                    <tr>
                      <td>URL</td>
                      <td><div style="max-height:170px; overflow:auto;word-break:break-all;">{{connectionAttr.Url}}</div></td>
                    </tr> -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
