<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1><br/><br/>
                    Oops!</h1>
                <h2>
                    403 Forbidden</h2>
                <div class="error-details">
                    Sorry, an error has occurred, Requested page not found!
                </div>
                <div class="error-actions"><br/>
                    <a ng-href="#/app/env" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>
