<style>
  .breadcrumb a:nth-child(2):after {
    background: #565656;
  }
</style>
<div class="main-dashboard">
  <div class="row">
    <div class="col-lg-12 lnheight35">
      <div class="pull-left">
        <div class="btn-group breadcrumb">
          <a ng-href="#/app/envdetail/{{activeTab}}/{{evnid}}">{{evnid}}</a>
          <a href="javascript:void(0)" style="background:#565656; color: #FFF;">{{severDetails.name}} Dashboard</a>
        </div>
      </div>
      <div class="pull-right">
        <a ng-href="#/app/envdetail/{{activeTab}}/{{evnid}}" class="btn btn-danger" tooltip-placement="bottom" tooltip="Back" style="padding:0 12px;"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>
      </div>
    </div>
  </div>
  <div ng-include="'partials/header-details.html'"></div>
  <div class="row">

     <div class="text-center chart-lbl" ng-class="((qzerror=='Quartz Scheduler Not Found!!!') && (dserror=='DataSource not found!!!'))?'col-md-12': (((qzerror=='Quartz Scheduler Not Found!!!') || (dserror=='DataSource not found!!!'))?'col-md-6':(((qzerror!='Quartz Scheduler Not Found!!!') && (dserror!='DataSource not found!!!'))?'col-md-4':'' ))">
      Memory Utillization
      <div id="chartdiv"></div>
    </div>
    <div class="col-md-4" ng-class="(dserror=='DataSource not found!!!')?'hide':'' || (qzerror=='Quartz Scheduler Not Found!!!')?'col-md-6':'col-md-4'" ng-show="dsList">
      <div class="panel panel-default ds">
        <div class="panel-heading">Data Source <span class="pull-right"><a href="javascript:void(0);"   tooltip-placement="bottom" tooltip="Refresh" ng-click="refresh('ds');" ><i class="fa fa-refresh"></i></a></span></div>
        <div class="ds-title" ng-hide="dserror">Type<span class="pull-right">Count</span></div>
        <div class="panel-body" ng-class="(dserror=='DataSource not found!!!')?'alert-warning':''" style="height:150px;  overflow:auto;">
          <span ng-show="dserror" style="margin-left:15px">{{dserror}}</span>
          <ul class="list-group">

            <li class="list-group-item" ng-repeat="(key,val) in dsList" style="word-break:break-all;">
              {{key}}
              <span class="pull-right val">{{val}}
              </span>
            </li>
          </ul>
        </div>
        <div class="panel-footer" style="height: 39px;">
          <a href="javascript:void(0)" ng-href="#/app/{{activeTab}}/{{evnid}}/{{ip}}/dsdetail/dsList" ng-hide="dserror" class="btn btn-default btn-detail pull-right">Detail</a>
        </div>
      </div>
    </div>
    <div class="col-md-4" ng-class="(qzerror=='Quartz Scheduler Not Found!!!')?'hide':'' || (dserror=='DataSource not found!!!')?'col-md-6':'col-md-4'"  ng-show="qzGroup">
      <div class="panel panel-default ds">
        <div class="panel-heading">Quartz Triggers<span class="pull-right"><a href="javascript:void(0);" ng-click="refresh('qz');"   tooltip-placement="bottom" tooltip="Refresh"><i class="fa fa-refresh"></i></a></span></div>
        <div class="ds-title" ng-hide="qzerror">Type<span class="pull-right">Count</span></div>
        <div class="panel-body" ng-class="(qzerror=='Quartz Scheduler Not Found!!!')?'alert-warning':''" style="height:150px; overflow:auto;">
          <span ng-show="qzerror" style="margin-left:15px;">{{qzerror}}</span>

          <ul class="list-group">
            <li class="list-group-item" ng-repeat="(key,val) in qzGroup">{{key}}
              <span class="pull-right val">{{val}}</span>
            </li>
          </ul>
        </div>
        <div class="panel-footer" style="height: 39px;">
          <a href="javascript:void(0)" class="btn btn-default btn-detail pull-right" ng-href="#/app/{{activeTab}}/{{evnid}}/{{ip}}/quartz/qzGroup" ng-hide="qzerror">Detail</a>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-12" ng-show="bundleTable">
      <div class="table-responsive">
      <div class="alert alert-danger" ng-show="BundleListError"> {{BundleListError}}</div>
      <table id="bundleList" ng-hide="BundleListError" class="table table-striped table-bordered bundle-detail" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>BUNDLE ID</th>
            <th>Name</th>
            <th>Version</th>
            <th>Status</th>
            <th>Blueprint Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>
