<div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()">&times;</button>
      <h4 class="modal-title">Response</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
          <label for="email">Response:<span style="color:red;">*</span></label>
          <br/>
          <textarea class="form-control" ng-model="responsexml" style="height:350px;" required disabled></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>
